*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins' sans-serif;


}

body{
    background:#f2f2f2;


}
h1{
     font-size:120px;
    text-align:center;
    color:rgba(255, 255, 255, 0.6);

 }

 .parallax-1{
    background: url('st4.jpg') no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
 }
 .parallax-2{
    background: url('evs1.jpg') no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
 }
 .parallax-3{
    background: url('st3.jpg') no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
 }
 .parallax-4{
    background: url('app.jpg') no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
 }
 .parallax-5{
    background: url('tx.jpg') no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
 }

 .parallax-inner{
    padding: 10% 0;
 }

 h2{
    font-size:32px;
    color:#393535;
    text-align:center;
    font-weight:300;
    letter-spacing:2px;
    margin:20px 0 10px;


 }

 p{
    font-size:16px;
    color:#555;
    text-align:justify;
    line-height:30px;
    margin:0 50px 40px;

 }

 p:nth-of-type(2),
 p:nth-of-type(2){
    margin:40px 50px;
 } 

 ul{
    list-style-image:url('sqpurple.gif');
    list-style-position: outside;
    font-family: 'poppins' sans-serif;
    /* text-align: center; */
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:#555;
    line-height:30px;
    margin:0 50px 40px;

 }
